In [10]:
import pandas as pd

In [16]:
stops = pd.read_csv('./data/brooklyn/stops.txt')
stop_times = pd.read_csv('./data/brooklyn/stop_times.txt')
trips = pd.read_csv('./data/brooklyn/trips.txt')

In [15]:
stop_times.head()

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,pickup_type,drop_off_type
0,EN_B9-Saturday-000000_B42_1,303345,00:00:00,00:00:00,1,NaN,NaN
1,EN_B9-Saturday-000000_B42_1,308044,00:00:25,00:00:25,2,NaN,NaN
2,EN_B9-Saturday-000000_B42_1,306590,00:01:17,00:01:17,3,NaN,NaN
3,EN_B9-Saturday-000000_B42_1,303348,00:01:59,00:01:59,4,NaN,NaN
4,EN_B9-Saturday-000000_B42_1,303349,00:02:34,00:02:34,5,NaN,NaN

In [31]:
combined = pd.merge(stop_times, trips, on='trip_id', how='left')
stop_and_route = combined[['stop_id', 'route_id']].drop_duplicates().merge(stops, how='left', on='stop_id')

In [43]:
stop_and_route.groupby('stop_id')['route_id'].nunique().value_counts()

1    3775
2     742
3     145
4      42
6       1
5       1
Name: route_id, dtype: int64

In [36]:
len(stop_and_route['stop_id'].unique())

4706