In [1]:
import pandas as pd

In [17]:
boroughs = [
    'brooklyn', 'bronx', 'manhattan', 'queens', 'staten_island'
]

stops = pd.concat(
    [pd.read_csv(f'./data/{borough}/stops.txt') for borough in boroughs],
    ignore_index=True
)

stop_times = pd.concat(
    [pd.read_csv(f'./data/{borough}/stop_times.txt') for borough in boroughs],
    ignore_index=True
)

trips = pd.concat(
    [pd.read_csv(f'./data/{borough}/trips.txt') for borough in boroughs],
    ignore_index=True
)


# stops = pd.read_csv('./data/brooklyn/stops.txt')
# stop_times = pd.read_csv('./data/brooklyn/stop_times.txt')
# trips = pd.read_csv('./data/brooklyn/trips.txt')

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:17: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [18]:
stops.size

115209

In [19]:
combined = pd.merge(stop_times, trips, on='trip_id', how='left')
stop_and_route = combined[['stop_id', 'route_id']].drop_duplicates().merge(stops, how='left', on='stop_id')

In [20]:
# how many bus stops of each type
stop_and_route.groupby('stop_id')['route_id'].nunique().value_counts()

1     8486
2     2676
3      823
4      280
5      130
6       73
7       38
8       36
9       28
10      10
11       7
12       3
13       3
15       2
17       1
14       1
16       1
Name: route_id, dtype: int64

In [21]:
len(stop_and_route['stop_id'].unique())

12598

In [23]:
stop_and_route['route_id'].unique().size

242

In [25]:
stop_and_route.head()

,stop_id,route_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,303345,B42,ROCKAWAY PKY SUBWAY/ROCKAWAY PKY SUBWAY,NaN,40.645845,-73.902462,NaN,NaN,0,NaN
1,308044,B42,ROCKAWAY PKY/GLENWOOD RD,NaN,40.644964,-73.902255,NaN,NaN,0,NaN
2,306590,B42,ROCKAWAY PY/FLATLANDS AV,NaN,40.643078,-73.900179,NaN,NaN,0,NaN
3,303348,B42,ROCKAWAY PY/AV J,NaN,40.641660,-73.898593,NaN,NaN,0,NaN
4,303349,B42,ROCKAWAY PY/AV K,NaN,40.640465,-73.897268,NaN,NaN,0,NaN

In [28]:
stop_and_route.groupby('stop_id')['stop_name'].head()

0        ROCKAWAY PKY SUBWAY/ROCKAWAY PKY SUBWAY
1                       ROCKAWAY PKY/GLENWOOD RD
2                       ROCKAWAY PY/FLATLANDS AV
3                               ROCKAWAY PY/AV J
4                               ROCKAWAY PY/AV K
                          ...
20611                        EYLANDT ST/LUTEN AV
20612               RICHMOND HILL RD/RICHMOND AV
20614                  MARSH AV/RICHMOND HILL RD
20615                           MARSH AV/RING RD
20616                   MERRILL AV / RICHMOND AV
Name: stop_name, Length: 19292, dtype: object

In [31]:
stop_and_route['stop_id'].nunique()

12598